@import url('../variables/fonts.module.css');
@import url('../variables/colors.module.css');


/******************************************************/

.section {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile {
    margin: auto;
    width: fit-content;
    max-width: 85%;
    color: var(--black);
    text-align: center;
    align-self: center;
    padding: 3rem;
    outline: 2px solid black;
    outline-offset: -2px;
    background-color: var(--beige);
  }
  
  .title{
    composes: fontQuicksand;

    position: static;
  
    /* composes: fontFrederickaTheGreat; */
    /* font-family: 'Times New Roman', serif; */
    
    text-wrap: pretty;
    font-size: max(3.5rem, 7vw);
    margin: 0;
  }
  
  .description{
    composes: fontMono;
    
    font-size: max(1.5rem, 1.5vw);
    line-height: 1.25;
    font-weight: 500;
    font-style: italic;
    text-wrap: pretty;
    margin: auto;
    max-width: 75%;
  }

  /* Copied from stackoverflow to generate a border only at corners */
/* https://stackoverflow.com/questions/14387690/how-can-i-show-only-corner-borders */
.cornerBorderBox{
    --b: max(0.5rem, 0.5vw);   /* thickness of the border */
    --c: var(--black);   /* color of the border */
    --w: 100vw;;  /* width of border */
    
  
    border: solid #0000; /* space for the border */
    border-width: var(--b);
    --_g: #0000 90deg,var(--c) 0;
    --_p: var(--w) var(--w) border-box no-repeat;
    background:
      conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--_g)) 0    0    / var(--_p),
      conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g)) 100% 0    / var(--_p),
      conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--_g)) 0    100% / var(--_p),
      conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--_g)) 100% 100% / var(--_p);
  }
/******************************************************/