/* Button styling reset */
.button {
    -webkit-appearance: none;
    border-radius: 0;
    text-align: inherit;
    background: none;
    box-shadow: none;
    padding: 0;
    cursor: pointer;
    border: none;
    color: inherit;
    font: inherit;
}

/* ************************************* */
/* ************************************* */
/* ************************************* */

* {
    --buttonHeight: max(2.5rem, 2.5vh);
}

/* size of the menu icon */
.button > svg{
    font-size: var(--buttonHeight);
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: end;
    height: inherit;
}

.ul {
    outline: 1px solid var(--white);
    outline-offset: -1px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: var(--darkGrey);
    transform: translateY(var(--buttonHeight));

    z-index: 100;

    & li {
        margin: .25rem;
        text-decoration: underline;
        text-align: end;
        color: var(--white);

        text-wrap:pretty;
        white-space: nowrap;

        & a {
            display: block;
        }
    }

    & li:hover {
        background-color: var(--lightGrey);
        color: var(--darkGrey)
    }

    & li:active {
        background-color: var(--green);
        color: var(--lightGrey);
    }
}

.button {
    color: var(--lightGrey);
    display: flex;
    align-items: center;
}

/* Behaviour on interaction */
.button:hover {
    background: var(--lightGrey);
    color: var(--darkGrey);
}

.button:focus {
    outline: 1px solid var(--grey);
    outline-offset: -2px;
}

.button:active {
    transform: scale(0.95);
    background: var(--black);
    color: var(--lightGrey);
}

/* Visually hiding, also hide via accessibility*/

.visuallyHidden, .visuallyHidden *{
    position: absolute;
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0,0,0,0) !important;
    white-space: nowrap !important;
    border: 0 !important;
    pointer-events: none !important;
}