@import url('../variables/fonts.module.css');
/* Button styling reset */
.button {
    appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    text-align: inherit;
    background: none;
    box-shadow: none;
    padding: 0;
    cursor: pointer;
    border: none;
    color: inherit;
    font: inherit;
}

/* ************************************* */
/* ************************************* */
/* ************************************* */

* {
    --buttonHeight: max(2.2rem, 2.5vh);
}

.button > svg{
    /* Size of the menu icon */
    font-size: var(--buttonHeight); 
    background-color: var(--lightGrey);
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: end;
    height: inherit;
    margin: 0;
}

.ul {
    outline: 2px solid var(--darkGrey);
    outline-offset: -1px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: var(--lightGrey);
    transform: translateY(var(--buttonHeight));

    max-height: 80svh;
    overflow-y: auto;
    overflow-x: hidden;

    & li {
        margin: .25rem;
        text-decoration: underline;
        text-align: end;
        color: var(--darkGrey);

        text-wrap:pretty;
        white-space: nowrap;

        & a {
            display: block;
        }
    }

    & li:hover {
        background-color: var(--dividerBlue);
        color: var(--darkGrey);

        & a {
            color: var(--darkGrey);
        }
    }

    & li:active {
        background-color: var(--grey);
        color: var(--white);

        & a {
            color: var(--white);
        }
    }
}

.button {
    color: var(--darkGrey);
    display: flex;
    align-items: center;
}

/* Behaviour on interaction */
svg:hover {
    background-color: var(--dividerBlue);
}


.button:active {
    transform: scale(0.95);
    background: var(--grey);
    color: var(--lightGrey);
}

/* Visually hiding, also hide via accessibility*/

.visuallyHidden, .visuallyHidden *{
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0,0,0,0) !important;
    white-space: nowrap !important;
    border: 0 !important;
    pointer-events: none !important;
}