@import url('../variables/fonts.module.css');
.nav {
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;

    padding: 0.5rem;
    font-weight: 500;
    
    & a {
        text-decoration: none;
        color: var(--darkGrey);
    }
    overflow: visible;
}

.ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
    display: flex;
    justify-content: end;
    align-items: center;
}

.li {
    margin: .5rem;
    text-decoration: underline;
    text-align: end;
    text-wrap: nowrap;
    color: var(--darkGrey);
    background-color: var(--lightGrey);

    & a {
        color: var(--darkGrey);
    }
}

.li:hover {
    background-color: var(--dividerBlue);
    color: var(--darkGrey);

    & a {
        color: var(--darkGrey);
    }
}

.li:active{
    background-color: var(--grey);
    color: var(--white);
    & a {
        color: var(--white);
    }
}