@import url('/src/styles/variables/fonts.module.css');

*:has(>.container){
    flex: 1;
    position:relative;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    padding: 0rem;
    overflow: auto;
}

.container{
    flex: 1;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 2rem;
    overflow: visible;
}

.paper, .comments{
    composes: fontQuicksand;
    flex: 1;
    height: fit-content;
    max-width: 1000px;
    width: 100%;
    background-color: var(--white);
    border: 4px solid var(--black);

    list-style: none;

    display: flex;
    justify-content: start;
    flex-direction: column;
    padding: min(4rem,10%) min(4rem,12.5%);
}

@media (max-width: 540px){
    *:has(>.paper){
        padding: 0.25rem;
    }

    .paper{
        border: 2px solid var(--black);
    }
}

.title {
    margin: 1rem 0 0 0;
    color: black;
    font-size: 2.5rem;
}

.date {
    font-size: 1rem;
    margin: 1rem 0rem;
}

@media (max-width: 540px){
    /* 20% smaller */
    .title{
        font-size: 2rem;
    }

    .date{
        font-size: 0.8rem;
    }
}

.content {
    composes: fontQuicksand;
    text-wrap: wrap;

    /* Styles for Markdown */

    /* Headers */
    & h1 {
        margin: 1rem 0;
        color: black;
        font-size: 2rem;
        
    }

    & h2 {
        margin: 0.833rem 0;
        color: var(--darkGrey);
        font-size: 1.66rem;
    }

    & h3 {
        margin: 0.66rem 0;
        color: var(--grey);
        font-size: 1.33rem;
    }

    & h4 {
        margin: 0.5rem 0;
        color: grey;
        font-size: 1.25rem;
    }

    /* Paragraphs */
    & p {
        font-size: 1.25rem;
        line-height: 1.5;
    }

    /* Lists */
    & ul, & ol {
        margin-left: 1.5rem;
        font-size: 1.25rem;
    }

    /* Code */
    & pre {
        font-family: 'Courier New', Courier, monospace;
        background-color: #f4f4f400;
        padding: 10px;
        border-radius: 5px;
        overflow: auto;
    }

    & code {
        font-family: 'Courier New', Courier, monospace;
    }

    /* Blockquote */
    & blockquote {
        border-left: 4px solid #ccc;
        margin: 0;
        padding-left: 10px;
    }

    /* Images */
    & img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    /* Horizontal Rule */
    & hr {
        border: none;
        border-top: 1px solid var(--dividerBlue);
        margin: 20px 0;
    }

    /* Line Break */
    & br {
        display: hidden;
    }

}

/************************************************/

.comments {
    list-style: none;
    margin-top: 1rem;
    max-height: 480px;
    overflow: hidden;
}

.titleComments{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.commentButton{
    composes: fontQuicksand;
    font-size: 1.25rem;
    padding: 0.25rem 0.5rem;
    border: 2px solid black;

    transition: all 0.1s ease;
}

.commentButton:hover{
    border-color: var(--dividerBlue);
    color: var(--dividerBlue);
}

.commentButton:active{
    background-color: var(--dividerBlue);
    border-color: var(--dividerBlue);
    color: var(--white);
}

.commentScroll {
    overflow: auto;
}

.comment {
    display: flex;
    align-items: center;
    margin: 0.75rem 0;
}

@media (max-width: 540px){
    .comment {
        flex-direction: column;
    }
}

.comment:hover {
    background-color: #e8e8e8;
}

.commenter {
    margin-right: 0.25rem;
    text-align: center;
    word-break: break-all;
    min-width: 120px;
}

.message {
    text-wrap: wrap;
    word-break: break-all;

}

/************************************************/

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: none;
    width: 80%;
    max-width: 480px;
    height: fit-content;
}

.form {
    border: 3px solid var(--black);
    padding: 1rem 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;

}

.label {
    display: flex;
    justify-content: space-between;
    margin: 0.25rem 0;
}

.formTitle {
    width: max(115px, 10%);
    text-align: right;
}

.input {
    flex: 1;
    margin-left: 0.25rem;
    border: 1px solid black;
    border-radius: 0.25rem;
    padding-left: 0.5rem;
}

.buttonContainer {
    align-self: end;
    margin-top: 0.5rem;
}

.formButton {
    padding: 0.25rem 0.5rem;
    margin-left: 0.5rem;
    border: 2px solid var(--black);
}

.cancel:hover, .submit:hover {
    border-color: var(--dividerBlue);
    color: var(--dividerBlue);
}


.cancel:active, .submit:active {
    border-color: var(--dividerBlue);
    background-color: var(--dividerBlue);
    color: var(--white);
}
