@import url('../variables/fonts.module.css');
.template{
    width: clamp(70px, 10vw, 150px);
    height: clamp(70px, 10vw ,150px);
    margin: auto;
    border: 2px solid grey;
    background-color: #0003;
    filter: blur(4px);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0px;
    
}

.category{
    composes: fontMono;
    font-weight: 400;
    font-style: italic;

    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap: wrap;
    user-select: none;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 4px #222A);

    transition: all 0.2s ease;
    
}

.category:hover{
    filter: drop-shadow(0px 0px 4px #4A90E2) !important;
    color: var(--dividerBlue);
    border-color: var(--dividerBlue);
}

@container passenger (min-width: 0px) {
    .category {
        pointer-events: auto;
        font-size: 25cqw;
        background-color: var(--white);
        border: 3px solid var(--black);
        color: var(--black);
    }
}