@import url('../variables/fonts.module.css');
.overlay{
    display: flex;
    justify-content: space-around;
    align-items:center;
}

.overlayList{
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
}

.overlayItem{
    padding: 0 15%;
}

.skillHeading{
    composes: fontMono;

    padding: 0.25rem;
    color: var(--lightGrey);
    filter: drop-shadow(0px 0px 4px #FFF8) !important;
}

.flexIgnore{
    position: absolute;
    top: 0;
    left: 0;
}

.listItem{
    border:2px solid var(--grey);
    border-radius: 50%;

    text-decoration: none;
    list-style: none;
    filter: drop-shadow(0px 0px 4px #FFF8) !important;

    display: flex;
    justify-content: center;
    align-items: center;

    /* Disable mouse drag selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    a {
        flex: 1;
        max-width: 100%;
        height: inherit;
        border-radius: 50%;

        display: flex;
        justify-content: center;
        padding: 0.5rem;

        /* border: 1px solid red;
        img { border: 1px solid blue; } */
    }
}

.listItem:hover{
    border:2px solid var(--grey);
    filter: drop-shadow(0px 0px 5px #FFFF) !important;
    background-color: #FFF1;

}