@import url('../variables/fonts.module.css');
.template{
    width: clamp(70px, 10vw, 150px);
    height: clamp(70px, 10vw ,150px);
    margin: auto;
    border: 2px solid grey;
    background-color: #0003;
    filter: blur(4px);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0px;
}

.category{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;

    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap: wrap;
    user-select: none;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 4px #222A);
    
}

.category:active{
    pointer-events: none;
    filter: drop-shadow(0px 0px 4px #4A90E2) !important;
    border-color: #4A90E2;
}

.category:hover{
    filter: drop-shadow(0px 0px 4px #4A90E2) !important;
    border-color: #4A90E2;
    border: 4px solid var(--dividerBlue);
}

@container passenger (min-width: 0px) {
    .category {
        pointer-events: auto;
        font-size: 30cqw;
        background-color: var(--beige);
        border: 2px solid var(--black);
        color: var(--black);
    }
}