.overlay{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    pointer-events: none;
}

.driver {
    pointer-events: auto;
}

.passenger {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;

    container: passenger / inline-size;
}