@import url('./variables/fonts.module.css');
@import url('./variables/colors.module.css');

/* CSS Reset */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* thanks redditindisguise */
  }