@import url('../variables/fonts.module.css');
.container{
    height: 100svh;
    width: 100svw;

    display: flex;
    flex-direction: column;
    background-color: var(--lightGrey); /*#e3d5ca*/ 
    overflow: hidden;
}

/* .border {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 10px solid black;
    
} */
  
.gridLines{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    
    background-size: 40px 40px;
    background-image:
        linear-gradient(to right, #4A90E240 1px, transparent 1px),
        linear-gradient(to bottom, #4A90E240 1px, transparent 1px);
}
.header{
    width: auto;
    pointer-events: none;
    user-select: none;
}
.navExpanding {
    position: relative;
    width: 100%;
    min-width: 0;

    /* Temp */
    pointer-events: auto;
    font-family: sans-serif;
    font-size:clamp(1.5rem, 1.5vw, 3rem);
    font-weight: 900;
    z-index: 1;
}
@container passenger (min-width: 0px){
    .profile2{
        height: 100%;
        background-color: red;
        font-size: min(20cqh, 20cqw);
        word-wrap: break-word;
    }
}