@import url('./variables/fonts.module.css');
@import url('./variables/colors.module.css');

/* ***************************** */

/* Copied from stackoverflow to generate a border only at corners */
/* https://stackoverflow.com/questions/14387690/how-can-i-show-only-corner-borders */
.cornerBorderBox {
  --b: max(0.25rem, 0.25vw);   /* thickness of the border */
  --c: var(--lightGrey);   /* color of the border */
  --w: max(1.5rem, 3.5vw);;  /* width of border */
  

  border: var(--b) solid #0000; /* space for the border */
  --_g: #0000 90deg,var(--c) 0;
  --_p: var(--w) var(--w) border-box no-repeat;
  background:
    conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--_g)) 0    0    / var(--_p),
    /* conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g)) 100% 0    / var(--_p),
    conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--_g)) 0    100% / var(--_p),*/
    conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--_g)) 100% 100% / var(--_p);
}
/* *********************************************/


* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  background-color: #333333;
  padding: calc(0.25rem);
}

/* **************************************************************************************** */

.header {
  background-color: #333333;
  position:sticky;
  top: 0;
  width: calc(100%); /* Accounts for body padding + margin, twice */
  max-height: fit-content;
  display: flex;
  align-items: center;
  
  border: 1px solid var(--white);

  z-index: 800;
}

.flexElement {
  flex: 1;
  min-width: 0;
}

.navExpanding {
  font-size:max(1.5rem, 1.5vw);
  z-index: 900;
}

/* **************************************************************************************** */

.section {
  /*Every section must be at least one screen height large*/
  min-height: calc(100svh - 0.5rem - max(1.5rem, 1.5vw) - 2 * 0.25rem - 2 * 0.25rem - max(2.5rem, 2.5vh) + 6px); /* hardcoded. Remove body margin+padding, and header size, and li padding and nav padding*/
  /* border: 1px solid white; */

  display: flex;
  flex-direction: column;

  border-bottom: 1px solid white; 
  box-shadow: 0px 0px 30px grey;
  clip-path: inset(0px 0px -30px 0px);
}

.container {
  position: relative;
  flex: 1;
}

.hero { 
  position: relative;
}

/* TODO: Have a thing that says something and then disappears
   TODO: Have it say something olike "Hello! Welcome to my personal portfolio website". 
   TODO: And then have a little box that says "Click here to get in touch" that then disappears
   TODO: Have the box grow into view with the border box thing.
   TODO: Scrolling fast forwards the animiation. Animation does not repeat
*/
.profile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  color: var(--lightGrey);
  text-align: center;
  padding: 0 4rem;
}

.title{
  composes: fontQuicksand;
  position: static;
  
  text-wrap: pretty;
  font-size: max(3.5rem, 7vw);
  margin: 0;
  padding: 1rem;
}

.description{
  composes: fontMono;
  
  font-size: max(0.75rem, 1.5vw);
  line-height: 1.25;
  font-weight: 400;
  font-style: italic;
  margin-top: 2rem;
  text-wrap: pretty;
}

.header1 {
  font-weight: 100;
  font-size: max(2.5rem, 4vw);
  text-align: center;

  color: var(--lightGrey);
}

/* ******************************************* */

@media (max-width: 720px){

  

}

@media (min-width: 721px){
  
}



