:root {
    --black: #14110F;
    --darkGrey: #333333;
    --grey: #7E7F83;
    --lightGrey: #DDD;
    --beige: #e3d5ca; /*#D9C5B2;*/
    --white: #F3F3F4;
    --green: #3B6D45;

    /* Tab colors */
    --manilaFolderBeige: #f5e1c4;
    --dividerRed: #d32f2f;
    --dividerBlue: #4A90E2;
    --dividerGreen: #008000;
    --dividerPurple: #904ae2;
    --dividerOrange: #FFA500;

    /* Background */
    --backgroundGrey: #333333;


    --TBD: #92C6DF;
}